
.map-container {
height: 400px;
z-index: 1;
}


#left-sidebar{
    background-color: white;
    height: 90%;
    width: 30%;
    z-index: 100;
}

#right-sidebar{
    background-color: white;
    height: 100vw;
    width: 100vh;
    z-index: 100;
}