.events-header{
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-left: 5px;
    margin-right: 5px;
    background: white;
    z-index: 20;
    border-radius: 5px;
    box-shadow: -2px -2px 10px rgba(187, 181, 181, 0.98),
    3px 3px 10px rgba(199, 196, 196, 0.96);
    

}

.events-header *{
    margin: auto;
}

.menu-item0{
    background: green;
}
.menu-item1{
    background: greenyellow;
}
.menu-item2{
    background: yellow;
}
.menu-item3{
    background: orange;
}
.menu-item4{
    background: orangered;
}