.nb {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1%;
    align-items: initial;
    font-family: 'Inter', sans-serif;
}

.nb h1 {
    font-weight: 600;
    margin-left: 2%;
    font-size: x-large;
    color: #015163;
}

.nb span {
    font-weight: 600;
    margin: 0px 5px 0px 5px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    color: #015163;
}
