.nb {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1%;
    align-items: center;
    font-family: 'Inter', sans-serif;
}

.nb h1 {
    margin-left: 2%;
    font-weight: 600;
    font-size: larger;
}

.nb a {
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    padding: 0px 5px 0px 5px;
}
