.nb {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1%;
    align-items: center;
    font-family: 'Inter', sans-serif;
}

.nb h1 {
    font-weight: 600;
    font-size: larger;
}

.nb a {
    display: flex;
    text-decoration: none;
    border-radius: 30px;
    text-align: center;
    cursor: pointer;
}
