.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.eventTitle{
margin-bottom: 60px !important;
height: 3em !important;
}


.formCalendar{
  margin-top: 30px !important;

}
.MuiInputBase-input {
    font: inherit;
    color: currentColor;
    width: 100%;
    border: 0;
    height: 3em !important;
    margin: 0;
    display: block;
    padding: 6px 0 7px;
    min-width: 0;
    background: none;
    box-sizing: content-box;
    animation-name: mui-auto-fill-cancel;
    letter-spacing: inherit;
    animation-duration: 10ms;
    -webkit-tap-highlight-color: transparent;
}

.selectCategory{

  min-width: 120px !important;
  padding-bottom: 50px;
  margin-bottom: 20px;
}

.formCalendar{

  margin-bottom: 30px !important;
}

.addEvent{
  margin-top: 30px !important;
  margin-right: 20px !important;
}

.createEvent{
  margin-bottom: 900px;
/* position: relative; */
  color:lightslategray!important;
  /* font-size: 70px !important;/ */


}

.avatarName{
 
  display: flex;
  justify-content:flex-start;
  vertical-align: top;
}

.avatar{

  background-color: rgba(58, 113, 216, 0.9) !important;
  margin-right: 30px;
}

.friendName{
  height: 20px;  
  font-size: 20px !important;
  color: rgb(228, 160, 13) !important;


}