.auto-complete {
    border: 1px solid #999;
    padding: 0.5rem;
    width: 315px;
}

.suggestions {
    position: absolute;
    z-index: 1000;
    border: 1px solid #a7a7a73f;
    overflow-y: auto;
    list-style: none;
    margin-top: 0;
    max-height: 150px;
    width: 315px;
}

.suggestions li {
    padding: 4px;
}

.suggestion-inactive {
    background-color: white;
}

.suggestion-active, .suggestions li:hover {
    background-color: #C0D4D8;
    color: #015163;
    cursor: pointer;
    font-weight: 400;
}

.suggestions li:not(:last-of-type) {
    border-bottom: 1px solid #5e5d5d5b;
}

